<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="teste vaga desenvolver web">
	<meta name="author" content="Ariel Ramos de Braga">

	<title>Teste</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
</head>
<body>
	<div class="container">	
		<div class="row">
			<h1 style="text-align: center;">Teste -> https://shawandpartners.com/front-end-challenge/</h1>
			<hr>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<?php echo $this->form;?>
			</div>
			<hr>
		</div>
		<div class="row">
			<div class="col-lg-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-6 col-md-6 col-sm-6 col-xs-12 marginTop">
				<table class="table table-bordered">
					<tbody>
						<tr>
							<td width="50%"><strong>Input</strong></td>
							<td><strong>Result</strong></td>
						</tr>
						<?php foreach ($this->listar as $key => $teste) { ?>
						<tr>
							<td><?php echo $teste['input']; ?></td>
							<td><?php echo $teste['result']; ?></td>
						</tr>
						<?php } ?>
					</tbody>
				</table>
		</div>
	</div>
</body>
</html>