<?php  
if ($this->pageCount){
  $params=Zend_Controller_Front::getInstance()->getRequest()->getParams();

  $previous = array('page' => $this->previous);
  $pageParam = array('page' => $this->previous);
  $next = array('page' => $this->next);

  if(isset($params['paginationParamUrl'])){
    foreach ($params['paginationParamUrl'] as $key => $value) {
      $previous[$key] = $value;
      $pageParam[$key] = $value;
      $next[$key] = $value;
    }
  }

  $listPages = '<ul class="pagination">';
  if (isset($this->previous)){
    $listPages .= '<li><a href="'.$this->url($previous).'">&laquo;</a></li>';
  }else{
    $listPages .= '<li class="disabled"><a>&laquo;</a></li>';
  }

  foreach ($this->pagesInRange as $page){
    $pageParam['page'] = $page;
    if ($page != $this->current){
      $listPages .= '<li class=""><a href="'.$this->url($pageParam).'">'.$page.'</a></li>';
    }else{
      $listPages .= ' <li class="active"><a href="'.$this->url($pageParam).'">'.$page.'</a></li>';
    }
  }

  if (isset($this->next)){
    $listPages .= '<li><a href="'.$this->url($next).'">&raquo;</a></li>';
  }else{
    $listPages .= '<li class="disabled"><a>&raquo;</a></li>';
  }
  echo $listPages;
}

?>

